/* ========================
フロート（ダメなキャリー用）
========================= */
#NG-soto {
  width: 99%;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 20px;
  padding:20px;
  background:#a7b4cc;
  display: table;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-around; */
}

/* イメージとタイトル、その下の文字まで含む */
.float-box {
  display: block;
  background:#e3ffe9;
  /* border : 1px solid; */
  /* box-sizing: border-box; */
  width: 350px;
  padding:1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 20px;
  position: relative;
  float: left; 
}
/* ========================
スマホ用
========================= */
@media screen and (max-width: 769px) {

  #NG-soto{
    /* display: table; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  /* .float-box {float: left; }があっても↑のコードのお陰でなんか色々解決した */
}

