/* ==============================
Header
============================== */

  .header-title {
    font-size:30px;
    /* background:#fdfdcd; */
    text-align: center;
    font-weight: bold;
    margin:20px;
  }  

  .header-title span {
    color: green;
    font-size: 24px;
  }

  .caption {
    font-size: 26px;
    font-weight: bold;
    color: #a52a2a;
    background:#edeea3;
    padding-left: 5%;
    box-sizing: border-box;
  }

  /* .header-title{ 
    font-size:24px; 
    margin-bottom:0px; 
  } */

  .header-icon {
    top: 5px;
    width:40px; 
    height:40px; 
  }



/* ======================
スマホ用
========================*/
@media screen and (max-width: 769px) {

  /* #soto {
  } */

  /* .header-title{ 
    font-size:24px; 
    margin-bottom:0px; 
  } */
  
}
