/* スマホ版 */
#mainBox {
  /* background:#fdfdcd; *//* #mainBoxでも#parentでも背景の色は変えられない…謎… */
}
/* ヘッダータイトル */
.header-icon { /* 5枚の桜の花びら */
  width:70px; /* ★★PCでは 40px★★ */
  height:70px; /* ★★PCでは 40px★★ */
  position: relative;
  top: 15px; /* ★★PCでは 10px★★ */
}
.header-title { /* 和歌山スペイクリニック さくらねこ　ブログページ */
  font-size:4vw; /* ★★PCでは 24px★★ */
  color: #12C; /* 青っぽい色 */
  text-align: center;
  line-height:10px;/* 2vx */
  padding-left:30px;
  padding-bottom:2px;
  font-weight: bold; /* bold太字　lighter細字　normal戻す */
  margin-bottom:30px; /* ★★PCでは 無し★★ */
}
.header-title b1 {
  display:none;/* スマホでは、タイトルを2行に分けない */
}
/* ヘッダータイトル ここまで */

a {
  text-decoration: none;/* リンクの下線を打ち消す */
}/* ここの閉じ括弧が無い事に気付かないばかりに丸一日フッターが画面下に出ない事に悩んだ */


#parent {
  width: 100%;/* 元々660px */
  margin: 0 auto;
  /* background:#fdfdcd; *//* フォントの色は変えれても背景の色は変えられない…謎… */
}
#parent .child {/* イメージとタイトル、その下の文字まで含む */
  width: 70vw; /* ★★PCでは★★ */
  font-size: 4vw; /* ★★PCでは12px★★ */
  margin-left: 15vw; /* ★★PCでは2vw★★ */
  margin-bottom: 20px;/* 元々20px */
  float: left;
  min-height:260px;/* 最低260の高さが無いと、PCで画面を縮めた時、箱がズレる(何の事かはやってみれば分かる) */
  display: inline;    /*for ie*/
  margin-bottom:-150px;
  padding-bottom:150px;
/* ↑この2行が無いと、フッターがコンテンツに被る */
}

#parent .child .img {
  width: 70vw; /* ★★PCでは240pxで、縦幅も指定★★ */
  /* margin: 0 auto; *//* 意味があるのか不明 */
}
#parent .child .title {
  font-weight: bold;
  margin-bottom: 100px;/* ★★PCでは12px★★ */
}
#parent .child .read {/* 文字の部分を変えるCSS(必要なら) */
}

#parent .child span {/* 日付の色とフォントサイズ */
  font-size:4vw; /* ★★PCでは12px★★ */
  color:green;
}

/* Footer */
#Footer {
  width:100%; /* 横幅を100%に */
  background:#fdfdcd;/* 元々#DAFFDA */
  position: fixed;/* fixedしないとフッターが上に浮く */
  bottom: 0;/* ボトムは0にしないとフッターが上に浮く */
  height: 170px; /* ★★PC100px★★ */
}
#Footer .inner {
  width:80%;
  /* min-height:60px; *//* 上でFooterの高さ決めてるし、意味なさそう */
  margin:0 auto; /* ここでこのコードが無いと中央に寄らない */
  background:#fefde0;/* 元々#7BF469 */
  text-align:center;
}
.footer-letter a {
  font-size:4vw; /* ★★PCでは12px★★ */
}
.home-btn {/* スペイクリニックさくらねこ　ホームページへ */
  /* font-size:50px;*//* 上で指定しているので、ここで文字の大きさ指定しても意味無し変化なし */
  padding: 10px 15px; /* ★★PC：3px 15px★★ */
  background-color: #ffc90d;/* HOME文字の背景色 オレンジ */
  color: white;/* 文字色 */
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;/* ボタンに丸みを */
  margin-right: 10px;
  margin-top: 40px; /* ★★PC：20px★★ *//* オレンジの枠の上のマージン */
  margin-bottom: 0px; /* 意味なさそう */
}
.home-btn:hover {
  opacity: 1;
}

.icon {/* 三毛猫と桜のアイコン */
  width:4vw; /* ★★PCでは★★ */
  height:4vw; /* ★★PCでは★★ */
}


@media(min-width: 985px){ /* PC版 *//* 1000近くを超えないとスマホ版から逃げれない */
.header-icon {
  top: 5px; /* ★★スマホでは 15px★★ */
  width:40px; /* ★★スマホでは 70px★★ */
  height:40px; /* ★★スマホでは 70px★★ */
}
.header-title{ 
  font-size:24px; /* ★★スマホでは 4vw★★ */
  margin-bottom:0px; /* ★★スマホでは 30px★★ */
}
.header-title b1 {
  display:inline;/* タイトルを１行にする（スマホ版で消えていたb1を表示する） */
}
.header-title b2 {
  display:none;/* タイトルを2行から解除（スマホ版で表示されていた2行目を消す） */
}
#parent .child {/* イメージとタイトル、その下の文字まで含む */
  width: 240px; /* ★★スマホでは 70vw★★ */
  font-size: 12px; /* ★★スマホでは 4vw★★ */
  margin-left: 2vw; /* ★★スマホでは15vw★★ */
}
#parent .child .img {
  width: 240px; /* ★★スマホでは70vw★★ */
  height: 180px; /* ★★スマホでは設定せず★★ *//* 元々120px */
}
#parent .child .title {
  margin-bottom: 12px;/* ★★スマホでは100px★★ */
}
#parent .child span { /* 日付の色とフォントサイズ */
  font-size:12px; /* ★★スマホでは4vw★★ */
}
#Footer { /* ★★スマホ：170px★★ */
  height: 100px;
}
.footer-letter a {
  font-size:30px; /* ★★PCで元々12px★★ *//* ★★スマホでは40px★★ */
}
.home-btn {
  padding: 3px 15px; /* ★★スマホ：10px 15px;★★ */
  margin-top: 20px; /* ★★スマホ：40px★★ */
}
.icon {/* 三毛猫と桜のアイコン */
  width:30px; /* ★★スマホでは40px★★ */
  height:30px; /* ★★スマホでは40px★★ */
}

}
@media(min-width: 750px){ /* PCの画面を細くした場合の版 *//* スマホより細くなる事を想定 */
}
