body {
    font-family: Arial, sans-serif;
}

.accordion,
.no-style-button {
    background-color: #f9f9f9;
    color: #444;
    cursor: pointer;
    width: 100%;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 15px;
    transition: background-color 0.6s ease, color 0.3s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 18px;
}

.accordion:hover {
    background-color: #e0e0e0;
}

.accordion.is-active,
.accordion.is-active:hover {
    background-color: #e0e0e0;
}

.no-style-button:hover,
.no-style-button.is-active,
.no-style-button.is-active:hover {
    background-color: #ace0e0;
}

.no-style-button {
    background: none;
    border: none;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 16px;
}

.i_box {
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    transform: rotate(45deg);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.one_i:before,
.one_i:after {
    content: '';
    background-color: #000;
    border-radius: 10px;
    width: 18px;
    height: 2px;
    position: absolute;
    inset: 0;
    margin: auto;
    transform-origin: center;
}

.one_i:before {
    transform: rotate(-45deg);
}

.one_i:after {
    transform: rotate(45deg);
}

.is-active .i_box {
    transform: rotate(360deg);
}

.is-active .one_i:before {
    transform: rotate(0deg);
}

.is-active .one_i:after {
    display: none;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
    border: 1px solid #ddd;
    border-top: none;
    transition: max-height 0.2s ease-out;
}

.panel-no-padding,
.table-container .panel {
    padding: 0;
    margin: 0 10px;
}

.panel-content {
    display: flex;
    align-items: flex-start;
}

.panel-content img {
    /* max-width: 150px; */
    max-width: 300px;
    margin-right: 20px;
}

.green-box {
    background-color: #e0f7fa;
    border: 1px solid #004d40;
    padding: 15px;
}

.sub-item {
    font-weight: bold;
    background-color: #e0f7fa;
    padding: 10px;
    border: 1px solid #004d40;
}

.sub-item p {
    font-weight: normal;
}

.table-container {
    background-color: #e0f7fa;
    padding: 0;
    border: 1px solid #004d40;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

td:first-child {
    white-space: nowrap;
    text-align: center;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
