/* PC版 */

.main {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  /* display: table; */
  /* display: table のコードの存在を知らず1年以上bodyの範囲を指定出来なかった */
  /* 何で知ったか全然覚えてない */
  /* …が、結局お蔵入り */
}

.article {
  /* イメージとタイトル、その下の文字まで含む */
  width: calc(25% - 2vw);
  margin: 1vw;
  box-shadow: 0 0 5px #edae2f;
  background-color: #fefde0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  opacity: 0.6;
}

.article-title {
  font: size 20px;
  font-weight: bold;
  margin-bottom: 12px;
}

span {
  /* 日付の色とフォントサイズ */
  color: green;
  font-size: 17px;
}

@media screen and (max-width: 1000px) {
  .article {
    /* イメージとタイトル、その下の文字まで含む */
    width: calc(33.3% - 2vw);
  }
}

@media screen and (max-width: 769px) {
  .article {
    /* イメージとタイトル、その下の文字まで含む */
    width: calc(50% - 2vw);
    font-size: 4vw;
  }
}

@media screen and (max-width: 500px) {
  .article {
    /* イメージとタイトル、その下の文字まで含む */
    width: calc(100% - 2vw);
    margin: 3vw;
    font-size: 5vw;
  }
  span {
    /* 日付の色とフォントサイズ */
    /* スマホ */
    font-size: 4vw;
  }
  .article-title {
    margin-block-start: 0.5em;
  }
}
