/* ブログ5・6と共通 */

/* ==========================
「ホームへ」ボタン周辺
========================== */

/* Footer */

footer {
  /* PC */
  width: 100%;
  background: #fdfdcd;
  /* background: #fefde0; */
  position: fixed;
  /* fixedしないとフッターが上に浮く */
  left: 0;
  /* left0に気付くまで1年以上かかる */
  bottom: 0;
  /* ボトムは0にしないとフッターが上に浮く */
  height: 100px;
  box-sizing: border-box;
}

.homestyle-btn {
  /* 共通 */
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.home-btn {
  /* PC */
  font-size: 35px;
  /* 文字の大きさ以外は共通 */
  background-color: #ffc90d;
  color: white;
  text-decoration: none;
  opacity: 0.8;
  border-radius: 4px;
  padding: 3px 15px;
  /* display: inline-block; */
  /* margin-right: 10px; */
  /* margin-top: 40px; */
  /* padding: 10px 15px; */
}

.home-btn:hover {
  /* 共通 */
  opacity: 1;
}

.icon {
  /* 三毛猫と桜のアイコン */
  /* PC */
  vertical-align: middle;
  margin-bottom: 6px;
  width: 35px;
}

/* ======================
スマホ用
========================*/

@media screen and (max-width: 769px) {
  footer {
    height: 60px;
  }
  .home-btn {
    font-size: 15px;
  }
  /* 三毛猫と桜のアイコン */
  .icon {
    margin-bottom: 0.5vw;
    /* width: 6vw; */
    width: 18px;
  }
}